.header_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 8%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);

}
.header_mainText {
  margin-right: auto;
  color: #00aaab;
  font-size: 20px;
  font-weight: 700;
}
.header_search_form {
  margin-right: 90px;
  position: relative;
}
.header_searchIcon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 18.5px;
  height: 18.5px;
}
.header_searchInput {
  border-radius: 8px;
  background: #f7f7f7;
  color: #1d1d1d;
  border: none;
  padding: 13px 15px 13px 40px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.45px;
  outline: none;
  width: 500px;
}
.header_searchInput::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.45px;
}
.header_loginBtn {
  border-radius: 4px;
  background: #00b5b7;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 10px 28px;
  cursor: pointer;
}
.header_cart_container {
  margin-left: 44px;
  position: relative;
}
.header_cartIcon {
  width: 28px;
  height: 28px;
}
.headet_cart_count {
  position: absolute;
  top: -5px;
  right: -8px;
  min-width: 21px;
  height: 21px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #ff8914;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: grid;
  place-items: center;
}
